.van-toast{
    padding: 20px 40px!important;
}
.van-tabbar{
    background: $BACKGROUND-COLOR;
}
.van-tab {
    color: rgba(255,255,255,.7);
    font-size: 3.733vw;
}
.van-tabs__wrap{
    position: fixed;
    top: 12.267vw;
    background: $THEME-COLOR;
    width: 94vw;
    padding: 0 3vw;
    z-index: 10;
    left: 0;
    height: 15vw!important;
}
.van-tab--active{
    color: $TEXT-LIGHT-COLOR;
    font-size: 4.533vw;
}
.van-tabs__line {
    position: absolute;
    bottom: 23px;
    left: 0;
    z-index: 1;
    height: 3px;
    background-color: $BACKGROUND-COLOR;
    border-radius: 3px;
}
.van-pull-refresh__head,.van-pull-refresh__head span{
    color: $TEXT-LIGHT-COLOR;
}
.van-uploader__preview{
    margin-right: 3.467vw;
    margin-bottom: 2vw;
    &:nth-child(5n){
        margin-right: 0;
    }
}
.van-uploader__upload{
    margin-right: 0;
}
.van-uploader__preview-image,.van-uploader__upload{
    width: 14.133vw;
    height: 14.133vw;
    border-radius: 0.533vw;
}
