html,body{
    margin: 0;
}

input{
    text-indent: 0;
    background: transparent;
    border: 0 none;
    resize:none;
    outline:none; /*清除选中效果的默认蓝色边框 */
    -webkit-appearance:none; /*清除浏览器默认的样式 */
    line-height: normal;
}

p{
    margin:0;
    padding:0
}

p,span{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

#app {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    background: $BACKGROUND-COLOR;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 88px;
    top: 0;
    left: 0;
    width: 100vw;
    background: $BACKGROUND-COLOR;
    color: $TEXT-DARK-COLOR;
    z-index: 10;
    p{
        font-size: 34px;
        font-weight: 400;
    }
}
.ellipsis{
    overflow:hidden; //超出的文本隐藏
    text-overflow:ellipsis; //用省略号显示
    white-space:nowrap; //不换行
}
.infoBox {
    background: $BACKGROUND-COLOR;
    border-radius: 12px;
    padding: 34px 36px 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
    &>.title{
        color: $TEXT-DARK-COLOR;
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    &>textarea,&>input{
        font-size: 30px;
        width: 100%;
        border: none;
        resize: none;
        &::-webkit-input-placeholder{
            color: #858585;
        }
    }
}
.commonItems{
    background: $BACKGROUND-COLOR;
    border-radius: 16px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    &>div{
        &:first-child{
            display: flex;
            padding: 34px 16px 27px 26px;
            box-sizing: border-box;
            border-bottom: 2px solid #EFEFEF;
            img {
                width: 150px;
                height: 192px;
                border-radius: 4px;
            }
            &>div {
                &:nth-child(2){
                    margin-left: 16px;
                    &>p {
                        color: $TEXT-DARK-COLOR;
                        font-weight: bold;
                        font-size: 32px;
                        margin-bottom: 18px;
                        width: 330px;
                        display: flex;
                    }
                    &>div{
                        display: flex;
                        p{
                            color: #999;
                            font-size: 26px;
                            line-height: 45px;
                            height: 45px;
                        }
                        &>div{
                            &:last-child{
                                p{
                                    width: 170px;
                                }
                            }
                        }
                    }
                }
                &:last-child{
                    &>div{
                        &:first-child{
                            color: $TEXT-DARK-COLOR;
                            font-size: 26px;
                            display: flex;
                            justify-content: center;
                            span{
                                margin-left: 70px;
                            }
                            img{
                                width: 32px;
                                height: 32px;
                            }
                        }
                        &:last-child{
                            margin-left: 25px;
                            width: 152px;
                            height: 61px;
                            background: $THEME-COLOR;
                            border-radius: 30px;
                            text-align: center;
                            line-height: 61px;
                            font-size: 26px;
                            color: $TEXT-LIGHT-COLOR;
                            margin-top: 82px;
                        }
                    }
                }
            }
        }
        &:last-child{
            margin-top: 16px;
            padding: 0 26px 0 31px;
            box-sizing: border-box;
            display: flex;
            span{
                color: #999;
                font-size: 26px;
                &:first-child {
                    flex: 1
                }
            }
        }
    }
}
.picker-header{
    height: 114px;
    width: 711px;
    line-height: 114px;
    margin: auto;
    border-bottom: 2px solid #EDEDED;
    display: flex;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    background: $BACKGROUND-COLOR;
    justify-content: space-between;
    span{
        font-size: 34px;
        &:first-child{
            color: $TEXT-DARK-COLOR;
        }
        &:last-child{
            color: $THEME-COLOR;
        }
    }
    input{
        text-align: center!important;
        font-size: 34px!important;
    }
}
.QualityTest {
    .imgModuleBox{
        padding: 10px 10px 5px!important;
        p{
            display: none;
        }
        .van-uploader__upload,.van-image{
            width: 50px;
            height: 50px;
            margin-bottom: 5px;
        }
        .van-uploader__preview{
            margin-right: 10px;
            margin-bottom: 5px;
        }
    }
    .van-calendar__popup.van-popup--bottom, .van-calendar__popup.van-popup--top{
        height: 100% !important;
    }
}
